
.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gainsboro;
    padding: 20px;
    width: 100%;

    
}

h3{
    text-align: center;
} 

#display{
    width: 100%;
}